<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hostza</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    
</head>

<body>
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9">
                        <div class="slider_text text-center">
                          <form action='/app/ind/useriddata' method="post" class="message">
                            <h3>Individual Restaurant Name</h3>
                        </div>
                    </div>
                    <!-- <label for="fname">First name:</label> -->
                    <input type="text" id="comment" name="comment">
                     <input type="submit" value="Submit">
                      <table border="5">
                      <thread>                      
                        <th>Restuarnt name</th>
                        <th>Timings</th>
                      </thread>
                      {%for i in form3%}
                          <tr>
                          <td id="{{i.Resturantname}}">{{i.Resturantname}}</td>
                          <td id="{{i.timing}}">{{i.timing}}</td>
                          {%endfor%}
                      {%for i in form4%}
                        <td id="{{i.comment_details}}">{{i.comment_details}}</td>
                        {%endfor%}
                      </tr>
                    </table>                                
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script>
      function getInputValue(){
        var inputVal = document.getElementById("comment").value;
         alert(inputVal);
      }
    </script>
    
    <!--contact js-->
    <script src="{{ STATIC_URL }}js/jquery-3.2.1.min.js"></script>
</body>

</html>