{% extends 'base.html' %}
{% block content %}
<div id="wrapper">
<div id="register" class="animate form">
    <form  action="mysuperscript.php" autocomplete="on"> 
        <h1> Sign up </h1> 
        <p> 
            <label for="usernamesignup" class="uname" data-icon="u">Name</label>
            <input id="name" name="name" required="required" type="text" placeholder="mysuperusername690" />
        </p>
        <p> 
            <label for="emailsignup" class="youmail" data-icon="e" > Email</label>
            <input id="email" name="email" required="required" type="email" placeholder="mysupermail@mail.com"/> 
        </p>
        <p> 
            <label for="passwordsignup" class="youpasswd" data-icon="p">Password</label>
            <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO"/>
        </p>
        <p> 
            <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Userlocationname </label>
            <input id="userlocationname" name="userlocationname" required="required" type="password" placeholder="eg. X8df!90EO"/>
        </p>
        <p class="signin button"> 
            <input type="submit" value="Sign up"/> 
        </p>
        <p class="change_link">  
            Already a member ?
            <a href="#tologin" class="to_register"> Go and log in </a>
        </p>
    </form>
</div>
</div>
{%endblock%}